body {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #2F3132;
}

img {
    max-width: 100%;
}

.heading {
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin-bottom: 0;
}

.top {
    padding-bottom: 48px;
    background-color: #E0E1E2;
}

.top__header {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.top__header_dark {
    background-color: #2F3132;
}

.top .navbar {
    position: static;
    padding-top: 0;
    padding-bottom: 0;
}

.top .navbar-toggler {
    position: absolute;
    top: 20px;
    right: 23px;
    padding: 5px;
    border: none;
}

.top .navbar-toggler_active .navbar-toggler__item {
    background-color: #ffffff;
}

.top .navbar-toggler_active .navbar-toggler__item:nth-child(2) {
    opacity: 0;
}

.top .navbar-toggler_active .navbar-toggler__item:first-child {
    transform: rotate(-45deg) translate(-6px, 7px);
}

.top .navbar-toggler_active .navbar-toggler__item:last-child {
    transform: rotate(45deg) translate(-5px, -5px);
}

.top .navbar-toggler:focus {
    box-shadow: none;
}

.top .navbar-toggler__item {
    display: block;
    width: 30px;
    height: 4px;
    margin-bottom: 4px;
    background-color: #2F3132;
    transition-property: all;
    transition-duration: 0.5s;
}

.top .navbar-toggler__item:last-child {
    margin-bottom: 0;
}


.top .navbar-brand {
    width: 130px;
    height: 40px;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
}

.top__logo_white {
    display: none;
}

.top .navbar-brand_white .top__logo_white {
    display: block;
}

.top .navbar-brand_white .top__logo_dark {
    display: none;
}

.top .container-fluid {
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
}

.top .navbar-nav_mobile {
    align-items: center;
    margin-top: 148px;
    margin-bottom: 208px;
}

.top .navbar-nav_mobile .nav-item {
    margin-bottom: 32px;
}

.top .navbar-nav_mobile .nav-item:last-child {
    margin-bottom: 0;
}

.top .navbar-nav_mobile .nav-link {
    padding-top: 0;
    padding-bottom: 0;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    color: #C4C4C4;
    text-align: center;
}

.top .navbar-nav .nav-item.active .nav-link {
    position: relative;
    color: #ffffff;
}

.top .navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #ffffff;
}

.top .navbar-nav .nav-item.active .nav-link::after {
    width: 100%;
    transition-property: width;
    transition-duration: 0.5s;
}

.top .navbar-nav .nav-link:focus,
.top .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.navbar-nav_desktop {
    display: none;
}

.top__img {
    height: 230px;
    background-image: url('img/mx-master_1.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 94px;
    margin-bottom: 67px;
}

.top__text {
    text-align: center;
    padding-left: 59px;
    padding-right: 59px;
    margin-bottom: 40px;
}

.top__arrow {
    text-align: center;
    display: block;
}

.top__arrow svg {
    width: 42px;
    height: 22px;
}

.bluetooth {
    padding-top: 42px;
    padding-bottom: 18px;
    text-align: center;
    background-color: #EDEDED;
}

.bluetooth__icon {
    margin-bottom: 27px;
}

.bluetooth__heading {
    margin-bottom: 20px;
}

.bluetooth__text {
    padding-left: 34px;
    padding-right: 33px;
    margin-bottom: 31px;
}

.bluetooth__days {
    font-weight: 900;
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 0;
    text-transform: uppercase;
    color: #C4C4C4;
}

.texture {
    padding-top: 70px;
    padding-bottom: 63px;
    text-align: center;
}

.texture__heading {
    margin-bottom: 20px;
}

.texture__text {
    padding-left: 67px;
    padding-right: 61px;
    margin-bottom: 30px;
}

.texture__advantages {
    display: flex;
    justify-content: center;
    margin-bottom: 28px;
}

.texture__advantages-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 166px;
    min-height: 94px;
    border: 1px solid #2F3132;
    margin-right: 6px;
}

.texture__advantages-item:last-child {
    margin-right: 0;
}

.texture__advantages-heading {
    margin-bottom: 5px;
    text-transform: uppercase;
}

.texture .carousel {
    margin-bottom: 28px;
}

.texture .carousel-indicators {
    bottom: -95px;
    justify-content: space-between;
    max-width: 242px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.texture .carousel-indicators [data-bs-target] {
    background-image: url(img/slider-texture-sprite.svg);
    background-repeat: no-repeat;
    border: 1px solid transparent;
    opacity: 1;
    height: 32px;
    width: 32px;
    margin-left: 0;
    margin-right: 0;
}

.texture .carousel-indicators [data-bs-target].active {
    opacity: 0.5;
}

.texture .carousel-indicators [data-bs-slide-to="0"] {
    background-position: -33px center;
}

.texture .carousel-indicators [data-bs-slide-to="1"] {
    background-position: -87px center;
}

.texture .carousel-indicators [data-bs-slide-to="2"] {
    background-position: -140px center;
}

.texture .carousel-indicators [data-bs-slide-to="3"] {
    background-position: -193px center;
}

.texture .carousel-indicators [data-bs-slide-to="4"] {
    background-position: -247px center;
}

.texture__carousel-buttons {
    width: 87%;
    max-width: 326px;
    position: absolute;
    bottom: -79px;
    left: 50%;
    transform: translateX(-50%);
}

.texture .carousel-control-next,
.texture .carousel-control-prev {
    width: 32px;
    opacity: 1;
}

.texture .carousel-control-prev-icon,
.texture .carousel-control-next-icon {
    background-image: url(img/slider-texture-sprite.svg);
    background-size: auto;
    width: 100%;
}

.texture .carousel-control-prev-icon {
    background-position: 9px;
}

.texture .carousel-control-next-icon {
    background-position: -289px;
}

.texture__carousel-heading {
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 68px;
}

.texture__carousel-text {
    padding-left: 34px;
    padding-right: 33px;
    margin-bottom: 0;
}

.flow {
    padding-top: 70px;
    padding-bottom: 58%;
    background-image: url(img/high-resolution-jpg-mx-lifestyle-2346-1.jpg);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: #EDEDED;
}

.flow__heading {
    margin-bottom: 20px;
}

.flow__text {
    padding-left: 34px;
    padding-right: 33px;
    text-align: center;
}

.flow__text_margin {
    margin-bottom: 36px;
}

.flow__ol {
    padding-left: 54px;
    list-style-position: inside;
    margin-bottom: 0;
}

.flow__ol li {
    max-width: 220px;
    margin-bottom: 16px;
}

.flow__ol li:last-child {
    margin-bottom: 0;
}

.settings {
    padding-top: 70px;
    background-color: #EDEDED;
}

.settings__heading {
    margin-bottom: 20px;
}

.settings__text {
    padding-left: 34px;
    padding-right: 33px;
    margin-bottom: 35px;
    text-align: center;
}

.settings .carousel {
    margin-bottom: 95px;
    padding-left: 23px;
    padding-right: 22px;
}

.settings .carousel-indicators {
    bottom: -50px;
    width: 44%;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
}

.settings .carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 0;
    margin-left: 0;
    border-top: 0;
    border-bottom: 0;
    opacity: 1;
    background-color: #C4C4C4;
}

.settings .carousel-indicators [data-bs-target].active {
    background-color: #2F3132;
}

.settings .carousel-inner {
    min-height: 404px;
}

.settings .carousel .w-100 {
    width: auto !important;
    margin-left: auto;
    margin-right: auto;
}

.settings__main-img {
    display: none;
}

.settings__apps {
    background-color: #C4C4C4;
    padding-top: 23px;
    padding-bottom: 26px;
    text-align: center;
}

.settings__apps img {
    width: 375px;
    max-width: 100%;
    padding-left: 29px;
    padding-right: 22px;
    margin-bottom: 20px;
}

.settings__apps-text {
    text-align: center;
    color: #ffffff;
    padding-left: 34px;
    padding-right: 33px;
    margin-bottom: 0;
}

.comfort {
    padding-top: 70px;
}

.comfort__design {
    margin-bottom: 70px;
    text-align: center;
}

.comfort__heading {
    margin-bottom: 20px;
}

.comfort__text {
    margin-bottom: 20px;
    padding-left: 34px;
    padding-right: 33px;
    text-align: center;
}

.comfort__text p {
    margin-bottom: 0;
}

.comfort__speed {
    text-align: center;
}

.comfort__img {
    width: 100%;
}

.footer {
    padding-top: 22px;
    padding-bottom: 37px;
    background-color: #2F3132;
    color: #C7C8C8;
    font-family: Roboto;
    font-size: 7px;
    line-height: 8px;
    text-align: center;
}

@media (min-width: 768px) {
    body {
        font-size: 24px;
        line-height: 28px;
    }

    .heading {
        font-size: 40px;
        line-height: 47px;
    }

    .top {
        padding-bottom: 80px;
    }

    .top__header {
        padding-top: 54px;
    }

    .top .navbar-toggler {
        top: 44px;
        right: 48px;
        padding: 10px;
    }

    .top .navbar-toggler__item {
        width: 60px;
        height: 8px;
        margin-bottom: 8px;
    }

    .top .navbar-toggler_active .navbar-toggler__item:first-child {
        transform: rotate(-45deg) translate(-13px, 14px);
    }

    .top .navbar-toggler_active .navbar-toggler__item:last-child {
        transform: rotate(45deg) translate(-10px, -10px);
    }

    .top .navbar-brand {
        width: 240px;
        height: 72px;
    }

    .top__img {
        height: 514px;
        background-image: url(img/tablet/mx-master_1.png);
        margin-top: 160px;
        margin-bottom: 124px;
    }

    .top__text {
        padding-left: 154px;
        padding-right: 155px;
        margin-bottom: 76px;
    }

    .top__arrow svg {
        width: 57px;
        height: 29px;
    }

    .top .navbar-nav_mobile {
        margin-top: 124px;
        margin-bottom: 141px;
    }

    .top .navbar-nav_mobile .nav-link {
        font-size: 40px;
        line-height: 47px;
    }

    .top .navbar-nav_mobile .nav-link::after {
        height: 4px;
    }

    .top .navbar-nav_mobile .nav-item {
        margin-bottom: 59px;
    }

    .bluetooth {
        padding-top: 80px;
        padding-bottom: 0;
    }

    .bluetooth__icon {
        width: 21px;
        margin-bottom: 39px;
    }

    .bluetooth__heading {
        margin-bottom: 30px;
    }

    .bluetooth__text {
        padding-left: 77px;
        padding-right: 77px;
        margin-bottom: 76px;
    }

    .bluetooth__days {
        font-size: 150px;
        line-height: 176px;
        margin-bottom: -79px;
    }

    .bluetooth__img {
        padding-left: 39px;
        padding-right: 19px;
    }

    .texture {
        padding-bottom: 61px;
    }

    .texture__heading {
        margin-bottom: 30px;
    }

    .texture__text {
        padding-left: 77px;
        padding-right: 77px;
        margin-bottom: 50px;
    }

    .texture__advantages-item {
        flex-basis: 300px;
        min-height: 170px;
        margin-right: 30px;
    }

    .texture__advantages {
        margin-bottom: 50px;
    }

    .texture .carousel {
        margin-bottom: 50px;
    }

    .texture__carousel-heading {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 80px;
    }

    .texture .carousel-indicators {
        min-width: 321px;
        bottom: -142px;
    }

    .texture .carousel-indicators [data-bs-target] {
        height: 45px;
        width: 45px;
        border: none;
        background-image: url(img/tablet/slider-texture-sprite.svg);
    }

    .texture .carousel-indicators [data-bs-slide-to="0"] {
        background-position: -42px center;
    }

    .texture .carousel-indicators [data-bs-slide-to="1"] {
        background-position: -112px center;
    }

    .texture .carousel-indicators [data-bs-slide-to="2"] {
        background-position: -181px center;
    }

    .texture .carousel-indicators [data-bs-slide-to="3"] {
        background-position: -251px center;
    }

    .texture .carousel-indicators [data-bs-slide-to="4"] {
        background-position: -322px center;
    }

    .texture__carousel-buttons {
        width: 70%;
        bottom: -120px;
        max-width: 424px;
    }

    .texture .carousel-control-prev-icon,
    .texture .carousel-control-next-icon {
        background-image: url(img/tablet/slider-texture-sprite.svg);
    }

    .texture .carousel-control-next-icon {
        background-position: -383px;
    }

    .texture__carousel-text {
        padding-left: 77px;
        padding-right: 77px;
    }

    .flow {
        padding-left: 64px;
        padding-right: 65px;
        padding-bottom: 56%;
        background-image: url(img/tablet/high-resolution-jpg-mx-lifestyle-2346-1.jpg);
    }

    .flow__heading {
        margin-bottom: 30px;
    }

    .flow__text {
        margin-bottom: 28px;
        padding-left: 0;
        padding-right: 0;
    }

    .flow__text_margin {
        margin-bottom: 62px;
    }

    .flow__ol {
        display: flex;
        padding-left: 0;
    }

    .flow__ol li {
        max-width: none;
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 0;
        padding: 8px 15px 4px 28px;
        border-left: 1px solid #494949;
    }

    .flow__ol li:first-child {
        border-left: none;
        padding-left: 0;
    }

    .flow__ol li:last-child {
        min-width: 148px;
        padding-left: 22px;
        padding-right: 0;
    }

    .settings {
        padding: 70px 65px 70px 64px;
    }

    .settings__heading {
        margin-bottom: 30px;
    }

    .settings__text {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 54px;
    }

    .settings .carousel {
        margin-bottom: 148px;
        padding-left: 0;
        padding-right: 0;
    }

    .settings .carousel-indicators [data-bs-target] {
        width: 25px;
        height: 25px;
    }

    .settings .carousel-indicators {
        width: 275px;
        bottom: -95px;
    }

    .settings__apps {
        padding-top: 38px;
        padding-bottom: 29px;
    }

    .settings__apps-text {
        font-size: 20px;
        line-height: 23px;
    }

    .settings__apps img {
        width: 513px;
        margin-bottom: 25px;
        padding-left: 1px;
        padding-right: 0;
    }

    .comfort__heading {
        margin-bottom: 30px;
    }

    .comfort__text {
        margin-bottom: 50px;
        padding-left: 67px;
        padding-right: 65px;
    }

    .footer {
        padding-top: 47px;
        padding-bottom: 71px;
        font-size: 14px;
        line-height: 16px;
    }
}

@media (min-width: 992px) {
    body {
        font-size: 20px;
        line-height: 23px;
    }

    .heading {
        font-size: 36px;
        line-height: 42px;
    }

    .text-content-center {
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .top {
        padding-bottom: 56px;
    }

    .top__header {
        height: 100px;
        padding-top: 0;
        background: #2F3132;
    }

    .top .navbar-brand {
        width: auto;
        height: auto;
        flex-grow: 1;
    }

    .top__logo_white {
        display: block;
        padding-left: 20px;
    }

    .top__logo_dark {
        display: none;
    }

    .top .navbar-expand-lg {
        width: 100%;
        max-width: 1200px;
        flex-wrap: wrap;
    }

    .top .navbar-expand-lg .navbar-collapse {
        flex-grow: 0;
        padding-left: 20px;
        padding-right: 20px;
    }

    .top .container-fluid {
        justify-content: center;
    }

    .top .navbar-nav_mobile {
        display: none;
    }

    .top .navbar-nav_desktop {
        display: flex;
    }

    .top .navbar-nav_desktop .nav-link {
        padding: 0;
        font-size: 12px;
        line-height: 14px;
        font-weight: 500;
        color: #ffffff;
    }

    .top .navbar-nav_desktop .nav-item {
        padding: 8px 21px 8px 22px;
        border-left: 1px solid #494949;
    }

    .top .navbar-nav_desktop .nav-item:first-child {
        padding-left: 0;
        border-left: none;
    }

    .top .navbar-nav_desktop .nav-item:last-child {
        padding-right: 0;
    }

    .top .navbar-nav_desktop .nav-link::after {
        bottom: -7px;
        height: 1px;
    }

    .top__img {
        height: 671px;
        background-image: url(img/desktop/mx-master_1.png);
        margin-top: 0;
        margin-bottom: 8px;
    }

    .top__heading {
        padding-top: 80px;
    }

    .top__text {
        max-width: 685px;
        margin-bottom: 49px;
    }

    .bluetooth {
        padding-top: 45px;
        padding-bottom: 48px;
    }

    .bluetooth__icon {
        margin-bottom: 40px;
    }

    .bluetooth__heading {
        margin-bottom: 35px;
    }

    .bluetooth__text {
        max-width: 761px;
        margin-bottom: 14px;
    }

    .bluetooth__days {
        height: 426px;
        display: flex;
        justify-content: center;
        font-size: 96px;
        line-height: 112px;
        margin-bottom: 0;
        background: url(img/desktop/high-resolution-png-mx-master-3-front-graphite-1.png) left 119px no-repeat,
            url(img/desktop/high-resolution-png-mx-master-3-front-left-graphite-1.png) right bottom no-repeat;
    }

    .bluetooth__days-count {
        font-size: 300px;
        line-height: 352px;
        padding-left: 80px;
    }

    .bluetooth__days-text {
        margin-top: 45px;
    }

    .bluetooth__img {
        display: none;
    }

    .texture {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .texture__heading {
        margin-bottom: 35px;
    }

    .texture__text,
    .texture__carousel-text {
        max-width: 765px;
    }

    .texture__advantages-item {
        flex-basis: 237px;
        min-height: 140px;
    }

    .texture .carousel {
        margin-bottom: 39px;
    }

    .texture .carousel-indicators {
        min-width: 321px;
        bottom: -123px;
    }

    .texture__carousel-buttons {
        bottom: -101px;
    }

    .texture__carousel-heading {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 91px;
    }

    .flow {
        padding: 70px 0 51% 0;
        background-image: url(img/desktop/high-resolution-jpg-mx-lifestyle-2346-1.jpg);
    }

    .flow__heading {
        margin-bottom: 35px;
    }

    .flow__text {
        max-width: 958px;
    }

    .flow__text_margin {
        margin-bottom: 66px;
    }

    .flow__ol {
        max-width: 945px;
    }

    .flow__ol li {
        padding: 8px 27px 8px 73px;
        min-width: 310px;
        box-sizing: content-box;
    }

    .flow__ol li:last-child {
        padding-left: 58px;
        min-width: 155px;
    }

    .settings {
        padding-top: 70px;
        padding-bottom: 71px;
        padding-left: calc(50% - 580px);
        padding-right: calc(50% - 580px);
    }

    .settings__heading {
        margin-bottom: 38px;
    }

    .settings__text {
        max-width: 958px;
    }

    .carousel_hidden {
        display: none;
    }

    .settings__main-img {
        display: block;
    }

    .settings__apps {
        width: 749px;
        margin-top: -58px;
        margin-left: auto;
        margin-right: auto;
    }

    .comfort {
        padding-top: 0;
        padding-left: calc(50% - 640px);
        padding-right: calc(50% - 640px);
    }

    .comfort__design {
        margin-bottom: 0;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .comfort__speed {
        display: flex;
        align-items: center;
    }

    .comfort__img {
        width: 640px;
    }

    .comfort__text {
        width: 50%;
        margin-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        display: flex;
        flex-direction: column;
    }

    .comfort__heading,
    .comfort__text p {
        max-width: 400px;
    }

    .comfort__wrap-img {
        width: 50%;
    }

    .comfort__heading {
        margin-bottom: 28px;
    }

    .comfort__speed .comfort__heading {
        margin-bottom: 34px;
    }

    .comfort__design .comfort__text {
        align-items: flex-start;
        padding-left: 32px;
    }

    .comfort__speed .comfort__text {
        align-items: flex-end;
        padding-right: 32px;
    }

    .comfort__design .comfort__heading,
    .comfort__design p {
        text-align: left;
    }

    .comfort__speed .comfort__heading,
    .comfort__speed p {
        text-align: right;
    }

    .content-center_1245px {
        padding-left: calc(50% - 622px);
        padding-right: calc(50% - 622px);
    }
}

@media (min-width: 1920px) {
    .top {
        padding-bottom: 80px;
    }

    .top__img {
        margin-top: 20px;
    }

    .bluetooth {
        padding-top: 80px;
        padding-bottom: 69px;
    }

    .bluetooth__icon {
        margin-bottom: 35px;
    }

    .texture {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .flow {
        padding-top: 100px;
        padding-bottom: 870px;
    }

    .flow__text_margin {
        margin-bottom: 69px;
    }

    .settings {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .comfort {
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: calc(50% - 654px);
        padding-right: calc(50% - 654px);
    }

    .comfort__img {
        width: 654px;
    }
}